.container-fluid{
    border-radius: 26px;
    width: 97%;
  
    
}
.textariea{
    margin-top: 4%;
    /* float: right; */
    /* margin-right: 40%; */
}
.img{
    width: 40%;
  
}
.img2{
    width: 20%;
  
}
.img3{
    width: 40%;
  
}
.img4{
    width: 40%;
  
}
.img5{
    width: 20%;
  
}.img6{
    width: 20%;
  
}.img7{
    width: 20%;
  
}


